body {
    font-family: 'Ubuntu', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.toggler {
    display: none;
}

.wrapper {
    max-width: 100%;
    background-image: url(../img/dev1.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    height: 100vh;
    margin-bottom: -120px;
}

.container {
    max-width: 80%;
    margin: auto;
}

.main-header {
    height: 15vh;
}

.info {
    height: 75vh;
    padding: 50px 0;
    color: #eee;
}

.info p {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 1rem;
}

.nav-list {
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    list-style-type: none;
}

.btn {
    border: 2px solid  #eee;
    color: #eee;
    padding: 10px 20px;
    font-weight: 600;
}

.btn:hover {
    border-color: #965;
    color: #965;
}

.main-footer {
    background-color: #965;
    color: #eee;
}

.footer-content {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    height: 10vh;
}

.info span {
    color: gold;
}

strong {
    font-size: 1.8rem;
}
